# Server Configuration
PORT=3001
NODE_ENV=development

# Database (Prisma / PostgreSQL)
DATABASE_URL=postgresql://postgres.eanknrxzymimwourkeeg:%25Hamzah87%2A%25@aws-0-ap-south-1.pooler.supabase.com:5432/postgres

# Frontend URLs (CORS & Email verification links)
FRONTEND_URL=http://localhost:3000
CLIENT_URL=http://localhost:3000

# Authentication (JWT)
JWT_SECRET="HALO_JOKOWI"
JWT_EXPIRES_IN="24h"

# Payment Gateway (Midtrans)
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=

# Cloud Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Service (Nodemailer / SMTP)
EMAIL_USER=
EMAIL_PASS=
